@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');

$font: "Sono"; 
$color-darkest: #000814;
$color-dark: #001D3D;
$color-medium: #003566;
$color-light: #FFC300;
$color-lightest: #FFD60A;
