@use "../../sass/variables" as *;

.employee__container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    

}



.employee__cards {
    color: $color-light;
    border: 2px solid $color-medium ;
    border-radius: 10%;
    background-color: $color-dark;
    padding: 1rem;
    min-height: 25vh;
    min-width: 20vh;   

}

.employee__cards--name {
    display: grid;
    justify-content: center;
    padding: 1rem;
}

.counter__cards {
    display: grid;
    justify-content: center;
}